
###> symfony/framework-bundle ###
backend/api/.env
backend/api/.env.local
backend/api/.env.local.php
backend/api/.env.*.local
backend/api/config/secrets/prod/prod.decrypt.private.php
backend/api/public/bundles/
backend/api/var/
backend/api/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
backend/api/phpunit.xml
backend/api/.phpunit.result.cache
backend/api/.phpunit.cache/
###< phpunit/phpunit ###

frontend/node_modules/